body, html {
    height: 100%;
}

.container {
    padding-top: 5%;
}

.col-9 {
    border-style: solid;
    border-width: 1px;
    border-color: rgb(0, 0, 0, .1);
    padding: 2%;
    margin-bottom: 3%;
}

#top-row {
    border-style: solid;
    border-width: 1px;
    border-color: rgb(0, 0, 0, .1);
    margin-bottom: 3%;
}

img {
    width: 100%;
    border-radius: 50%;
}

#img-container {
    padding: 5%;
}


#top-container {
    border-style: none;
    padding: 5% 2%;
}

@media only screen and (min-width: 1400px) {
  .container {
      width: 40%;
  }
}